<a href="https://colab.research.google.com/github/cs575ts/Assignments/blob/main/Assignment_1/CS575_Assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Basic Descriptive Stats

##Load Numpy, Pandas and other Libraries

### Load Dataset "Inc_Exp_Data.csv" using Pandas

Analyze the data using pandas info() *function*

Analyze the data using pandas describe() *function*

Analyze the data using pandas shape object

Check for missing values

What is the Mean Expense of a Household? Compute mean using Inbuilt pandas function and write your own function for the same.

What is the Median Household Expense? Compute Median using Inbuilt pandas function and write your own function for the same.

What is the Monthly Expense for most of the Households?

Plot the Histogram to count the Highest qualified member

Write your observations from the histogram plotted

Calculate IQR(difference between 75% and 25% quartile)

Calculate Standard Deviation for first 4 columns. Compute Standard Deviation using Inbuilt pandas function and write your own function for the same.

Calculate Variance for first 3 columns. Compute Variance using Inbuilt pandas 
function and write your own function for the same.

Calculate Skewness for first 3 columns. Compute Skewness using Inbuilt pandas function and write your own function for the same.

Calculate Kurtosis for first 3 columns. Compute Kurtosis using Inbuilt pandas function and write your own function for the same.

Find the correlation coeeficient between the "Mthly_HH_Income" and	"Mthly_HH_Expense". Compute correlation coeeficient using Inbuilt pandas function and write your own function for the same.

Calculate the total counts under each qualification

Plot the Histogram to count the No_of_Earning_Members

Plot pairplot using seaborn. for the whole dataset. Try with at least three different options of the diagonal row.

What is the observation from the pairplot

Plot  the boxplot for all numerical columns.