 Read the ambient_temperature_system_failure dataset as a dataframe from github : URL- https://raw.githubusercontent.com/jyotie02/CS575/main/ambient_temperature_system_failure.txt

**1.** Extract the Year , Month , Week , and Hour information from timestamp for each sample. \



**2.** Add the extracted information (Year , Month , Week , and Hour) as new column in the dataframe.

Example-

In [2]:
import pandas as pd 
data=[]
df = pd.DataFrame(data, columns=['Temperature', 'Year', 'Month', 'Week', 'Hour'])
df

Empty DataFrame
Columns: [Temperature, Year, Month, Week, Hour]
Index: []

**3.** Split the dataset into groups based on month. For each group find the following. 

-Mean \
-Median \
-Variance\
-Standard Deviation